:root {
    --healthColor: #6694c3;
}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: relative;
    display: inline-block;
}

.health-bar {
    width: 100%;
    height: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 35px;
}

#playerHealth {
    position: absolute;
    background-color: var(--healthColor);
    top: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 100%;

}

#enemyHealth {
    position: absolute;
    background-color: var(--healthColor);
    top: 0;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

#timer {
    background-color: rgb(29, 36, 36);
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 4px solid white;
}

#result {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}